* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sbg {
    background-image: url("img/dima-dallacqua-mf8hKbEw7So-unsplash.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.choose {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 25%;

}
.clickme {
    color: whitesmoke;
    text-align: center;
    opacity: 0;
    font-size: 90px;
}
.logo {
    width: 500px;
}

#jacco:hover {
    animation: takenjacco 2.0s ease;
}
#simon:hover {
    margin-bottom: 10%;
    animation: takenjacco 2.0s ease;
}
#jacco:hover > .clickme {
    opacity: 1;
    animation: clickme 2.0s ease;
}
#simon:hover > .clickme{
    opacity: 1;
    animation: clickme 2.0s ease;
}

@keyframes takenjacco {
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}

@keyframes clickme {
    from {
        opacity: 0;
        transform: translateZ(-100%);
    }
    to {
        opacity: 1;
        transform: translateZ(0%);
    }
}

@media (min-width: 1000px){
.choose {
    display: grid;
    
}
}
@media (max-width: 1000px){
    .choose {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
