.bg {
  background-image: url("img/servicebg.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s_only_text {
  display: grid;
  background-color: white;
  grid-template-rows: 1fr;
  justify-items: center;
  margin-top: 50px;
  padding: 20px;
}
.s_only_title {
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  font-weight: 100;
  margin: 30px;
}

.s_article_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  margin: 30px 90px;
}

.article_only_text {
  display: grid;
  grid-template-rows: 1fr;
}
.article_only_text > p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.all_services {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 60px 20em;
  padding: 5em;
  border: 10px double white;
}

.services_box {
  background-color: #64b6ac;
  text-align: center;
  color: white;
  margin-bottom: 60px;
  padding: 40px 60px;
}

.services_box > h3 {
  padding-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: 200;
}

.services_box > p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.scroll_down {
  display: flex;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
}
.arrow > span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: black;
  border-bottom-color: black;
  animation: arrow-down 1.5s alternate infinite;
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 100;
    transform: translateY(1rem);
    transform: rotate(45deg);
  }
}
